/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright Â© 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.languageBar {
  display: flex;
  width: 55%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-height: 48px;
}

.languageBarContainer {
  width: 100%;
  display: block;
}


.flagImage {
  max-width: 80%;
  min-width: 10%;
  max-height: 48px;
}

.flagInnerContainer {
  text-align:center;
}

.selected {
}

@media screen and (max-width: 1280px) {

  .flagImage {
    max-width: 90%;
  }

  .languageBar {
  }
}

@media screen and (max-width: 1366px) {
  .flagImage {
    max-width: 90%;
  }

  .languageBar {
    width: 57%;
  }
}

@media screen and (max-width: 1080px){
  .languageBar {
    display: flex;
    justify-content: center;
    width: 85%;
  }
}

/* IE11 */
@media all
  and (min-width : 768px)
  and (max-width : 1024px) {
  .languageBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .flagImage {
    max-width: 90%;
  }
}

/* iPad landscape */
@media all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
  .languageBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .flagImage {
    max-width: 90%;
  }
}


/* iPad portrait */
@media all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
  .languageBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .flagImage {
    max-width: 90%;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape){

  .languageBar {
    flex-wrap: nowrap;
  }

  .languageBar img {
    width: 100%;
  }

  .languageBarContainer {
    margin-top: 32px;
  }
}


@media screen and (max-width: 736px) and (orientation: portrait){

  .languageBarContainer {
    margin-top: 32px;
  }
}
