/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }
}

.standard_button {
  background-color: #0000FF;
  border: none;
  position: relative;
  width: 96px;
  height: 48px;
  outline:0;
  border:none;
  -moz-outline-style: none;
  border-radius: 5px;
}

.standard_button.circular_button {
  margin-top:0px;
  margin-bottom:0px;
  padding: 0;
  border: none;
  outline: none;
  width: 34px;
  height: 34px;
}

.standard_button:active,
.standard_button:focus, {
  outline: none;
  border:none;
  -moz-outline-style: none;
}

.standard_button:hover {
  background-color: #002BFF;
  cursor: pointer;
  border: none;
  outline: none;
}

.standard_button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  border: none;
  outline: none;
}

.inngot_textbox {
  border: 1px;
  border-color:#e6e6e6;
  padding: 8px;
  border-radius: 2px;
  border-style:solid;
  outline-width: 0px;
}

.icon {
  color: #FFF;
}

/*
@media screen and (max-width: 1080px){
  .standard_button {
    width: 100%;
    padding: 12px 48px 12px 48px;
    border: none;
    outline: none;
  }

  .standard_button.circular_button {
    margin-top:32px;
    margin-bottom:32px;
    padding: 0;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
  }
}
*/

@media all
  and (max-device-width : 1024px) {

  .standard_button.circular_button {
    margin-top:0px;
    margin-bottom:0px;
    padding: 0;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
  }
}

/* iPad landscape */
@media all
  and (max-device-width : 1024px)
  and (orientation : landscape) {

  .standard_button.circular_button {
    margin-top:0px;
    margin-bottom:0px;
    padding: 0;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
  }
}


.tableCellButton {
  padding: 0px;
}

.circular_button {
  border-radius: 50%;
  border: none;
  outline: none;
}
