/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.dd_container {
    padding: 4px;
    width: 100%;
}

.direction_container {
  width: 100%;
  margin-bottom: 4px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 11px;
}

.direction_container > div:nth-child(2) {
  transition: height 1s;
}

.inner_direction_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.inner_direction_container>div{
  width: 50%;
}

.step_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step_container_details {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.step_container_time {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media only screen and (max-width: 1280px){

  .direction_container {
    font-size: 10px;
  }
}
