/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.directions_container {
    padding-top: 16px;
    width: 100%;
    min-height: 260px;
    position: relative;
}

.directions_container_map {
  position: static;
  min-height: initial;
  margin-bottom: 32px;
}

.directions_container_open {
    padding-top: 16px;
    width: 100%;
    min-height: 768px;
    position: relative;
}


.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-between;
  margin-top:8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.button_container_map {
  position: static;
  margin-top: 5px;
}

.total_travel_time {
  font-weight: bold;
}

.final_step_container {
  margin: auto;
  width: 100%;
  text-align: center;
}

button.view_button {
  margin-top: 0px;
  margin-bottom: 0px;
}

.option_button {
  min-width: 22%;
  height: 32px;
}

.inner_directions_summary_container {
  min-height: 150px;
}

.inner_directions_detail_container {
  min-height: 557px;
}

.span_button_fix_overview {
}

.span_button_fix_detail {
}

.final_step_container {
}

@media only screen and (max-width: 1366px){
  .directions_container_open {
      padding-top: 16px;
      width: 100%;
      min-height: 667px;
      position: relative;
  }

  .directions_container_map {
    padding-top: 9px;
  }

  .inner_directions_detail_container {
    min-height: 557px;
  }
}

@media only screen and (max-width: 1280px){
  .directions_container_open {
      padding-top: 16px;
      width: 100%;
      min-height: 628px;
      position: relative;
  }

  .inner_directions_detail_container {
    min-height: 518px;
  }

  .directions_container_map {
    padding-top:14px;
  }

  .span_button_fix_overview > div {
    margin-top: 1px;
  }

  .span_button_fix_detail > div {
    margin-top: 0px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){

    .directions_container {
        min-height: 229px;
    }

    .directions_container_open {
        padding-top: 40px;
        min-height: 690px;
    }

    .final_step_container {
      font-size: 11px;
    }

    .inner_directions_summary_container {
      min-height: 119px;
    }

    .inner_directions_detail_container {
      min-height: 556px;
    }

    .directions_container_map {
      padding-top: 53px;
    }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

  .directions_container {
      min-height: 254px;
  }

  .final_step_container {
    font-size: 13px;
  }

  .inner_directions_summary_container {
    min-height: 119px;
  }

}

@media screen and (max-width: 736px) and (orientation: portrait){

  .directions_container {
      min-height: 235px;
  }

  .final_step_container {
    font-size: 13px;
  }

  .inner_directions_summary_container {
    min-height: 119px;
  }

  .inner_directions_detail_container {
    min-height: 500px;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape){

  .directions_container {
      min-height: 235px;
  }

  .directions_container_map {
    position: static;
    min-height: auto;
    margin-bottom: 0px;
  }

  .directions_container_open {
      padding-top: 40px;
      min-height: 690px;
  }

  .final_step_container {
    font-size: 13px;
  }

  .inner_directions_summary_container {
    min-height: 119px;
  }

  .inner_directions_detail_container {
    min-height: 500px;
  }
}
