/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.row {
  padding: 40px;
}


@media screen and (max-width: 1024px) {
  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }
}

.headerInnerContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 4px;
}

.headerInnerContainer .navLink:not(:first-child) {
  margin-left: 8px;
}

.navLink {
  font-size: 2.25em;
  color: #000000;
}

.navLink:active {
  font-size: 2.25em;
  color: #000000;
}

.navLink:visited {
  font-size: 2.25em;
  color: #000000;
}


@media screen and (max-width: 768px) {
  .headerInnerContainer {
    width: 768px;
  }
}

@media only screen and (max-width: 1366px){
  .headerInnerContainer {
    width: 84%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 736px){
  .headerInnerContainer {
    width: 70%;
  }
}

@media only screen and (orientation: portrait) and (max-width: 736px){
  .headerInnerContainer {
    width: 70%;
  }
}


/* iPad landscape */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {

  .headerInnerContainer {
    width: 80%;
  }
}

/* iPad portrait */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {

  .headerInnerContainer {
    width: 73%;
  }
}
