/**
 * React Static Boilerplate
 * https://github.com/kriasoft/react-static-boilerplate
 *
 * Copyright © 2015-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  margin-top: 456px;
  min-height: 330px;
}

.directionsOpen .content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  margin-top:21%;
  min-height: auto;
}

.backgroundTextContainer {
  color: #FFF;
  font-size: 3vw;
  font-weight: bold;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.pageContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainer {
  min-height: 100%;
}

.advertContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1920px){
  .content {
    margin-top: 459px;
    min-height: 321px;
  }

  .backgroundTextContainer {
    font-size: 3vw;
    top: 410px;
  }
}
@media screen and (max-width: 1366px){
  .content {
    margin-top: 299px;
    min-height: 222px;
  }

  .backgroundTextContainer {
    font-size: 3vw;
    top: 280px;
  }
}

@media screen and (max-width: 1280px){
    .content {
      margin-top: 270px;
      min-height: 234px;
      max-width: 911px;
    }
    .backgroundTextContainer {
      font-size: 3vw;
      top: 260px;
    }
}


/* IE11 */
@media all
and (min-width : 768px)
and (max-width : 1024px) {
  .content {
    max-width: 768px;
    width: 100%;
    display: block;
    margin-top: 25.5%;
  }
  .backgroundTextContainer {
    font-size: 4vw;
    top: 13.6%;
  }
}


/* iPad landscape */
@media all
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .content {
    max-width: 650px;
    width: 100%;
    display: block;
    margin-top:297px;
    min-height:256px;
  }
  .backgroundTextContainer {
    font-size: 4vw;
    top: 282px;
  }
}

/* iPad portrait */
@media all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .content {
      display: block;
      margin-top: 350px;
      min-height:270px;
      max-width: 550px;
    }
    .backgroundTextContainer {
      font-size: 4vw;
      top: 188px;
    }
}

@media screen and (max-width: 736px) and (orientation: landscape){
  .content {
    display: block;
    margin-top: 160px;
    min-height: 64px;
    max-width: 520px;
  }
  .backgroundTextContainer {
    font-size: 2.4vw;
    top: 102px;
  }
}

@media screen and (max-width: 667px) and (orientation: portrait){
  .content {
    display: block;
    margin-top: 210px;
    min-height: auto;
    max-width: 480px;
  }
  .backgroundTextContainer {
    font-size: 4vw;
    top: 85px;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape){
  .backgroundTextContainer {
    font-size: 2.4vw;
    top: 92px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape){
  .backgroundTextContainer {
    font-size: 2.4vw;
    top: 84px;
  }

  .content {
    max-width: 480px;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape){
  .backgroundTextContainer {
    font-size: 2.4vw;
    top: 80px;
  }
  .content {
    max-width: 420px;
  }
}
