.inngot_background_yellow {
  background-color: #fbf002;
}

.inngot_text_yellow {
  color: #fbf002;
}

.inngot_text_white {
  color: #FFFFFF;
}

.inngot_text_black {
  color: #000000;
}

.inngot_text_blue {
  color: #33DDFF;
}

.inngot_background_black_50_opacity {
  background-color: rgba(30, 30, 30, 0.5);
}

.inngot_background_black_65_opacity {
  background-color: rgba(30, 30, 30, 0.65);
}
