<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="main.css" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="font-awesome.min.css" rel="stylesheet" />
    <link rel="manifest" href="manifest.json">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&sensor=false&key=AIzaSyDMPxkrsToC-nxQVLczIGPHEnat2nRsf3M" ></script>
    <script src="eventsource.min.js"></script>
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
