* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI",Arial,sans-serif;
  overflow-y: auto;
}
#map-canvas { height: 100%; }
#container { height: 100%; }
body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Arial';
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-text-size-adjust: 100%; /* Possible fix for zooming on dropdown issue */
}

#pageContainer {
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#backgroundContainer {
  height: auto;
  margin: 0;
  padding: 0px;
  background-image: url('/images/besttubetologo_no_text.png');
  background-repeat: no-repeat;
  /*
  background-attachment: fixed;
  */
  background-position: center 9px;
  background-size: 1150px;
  flex-grow: 2;
  overflow-y: hidden;
}

#leftAdvertsContainer {
  position:absolute;
  left: 8px;
  top: 9px;
}

#rightAdvertsContainer {
  position:absolute;
  right: 8px;
  top: 9px;
}

body.transparent #backgroundContainer {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
  background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
  background-position: center 9px;
  background-size: 1150px;
}


h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 800;
    letter-spacing: 0.20em;
    line-height: 1em;
    margin: 1.5em 0 0.25em 0;
    text-transform: uppercase;
    font-size: 1.2em;
}

.blur {
    width:100%;
    height:100%;
    position: absolute;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

img:not([src]){
    visibility: hidden;
}

@media all and (max-width: 1366px){
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
  }

  #backgroundContainer {
    background-size: 768px;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 768px;
  }
}


@media all and (max-width: 1280px){
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: contain;
  }

  #backgroundContainer {
    background-size: 700px;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 700px;
  }
}

@media all and (max-width: 1080px){
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 600px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
  }

  #backgroundContainer {
    height: 100%;
    margin: 0;
    padding: 0px;
    background-image: url('/images/besttubetologo_no_text.png');
    background-repeat: no-repeat;
    /*
    background-attachment: fixed;
    */
    background-position: center 9px;
    background-size: 600px;

  }
}

/* IE11 */
@media all
  and (min-width : 768px)
  and (max-width : 1024px) {

  #backgroundContainer {
    background-size: 72%;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 72%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}


@media all and (max-width: 768px){

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
  }

  #backgroundContainer {
    background-size: 100%;
  }
}

@media all and (max-width: 736px) and (orientation: landscape){

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }

  #backgroundContainer {
    background-size: 35%;
  }

  body.transparent #backgroundContainer {
    background: #fff, url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 35%;
  }
}


@media all and (max-width: 736px) and (orientation: portrait){

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
  }

  #backgroundContainer {
    background-size: 217px;
  }


  body.transparent #backgroundContainer {
    background:  #fff url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 217px;
  }
}




/* iPad landscape */
@media only all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {

  #backgroundContainer {
    background-size: 768px;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 768px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}


/* iPad portrait */
@media only all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {

  #backgroundContainer {
    background-size: 500px;
  }

  body.transparent #backgroundContainer {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url('/images/besttubetologo_no_text.png') no-repeat;
    background-position: center 9px;
    background-size: 500px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}

@media only all
  and (orientation: portrait)
  and (max-width: 736px) {
  body {
    background-image: url(/images/icon-orientation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -50%;
  }

  body * {
    display: none;
  }
}
