/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.mainContainer {
}

.rtl {
  direction: rtl;
}

.directionsOpen {
  height: 100%;
  margin-top: -45px;
}

.spacer {
  height: 0%;
  transition: height 0.25s;
}

.mapContainer {
  height: 760px;
  margin-top: 0px;
  width: 950px;
  margin: 0 auto;
}

.btt_title {
  font-size:1.2em;
  text-align: center;
}

.btt_title_de {
  font-size: 1.1em;
}

.minimized {
  height: 0%;
}



.stationContainer {
  /*top: 430px;*/
}

.stationInputContainer {
  width: 33%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

.stationInputLabel {
  width: 33%;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 2em;
  text-align: right;
  margin-right: 4px;
}

.stationInputLabel > span {
}

select.stationInputDropdown {
  width: 80%;
}

.stationInputsLeftContainer {
  width: 75%;
}

.stationInputsRightContainer {
  width: 25%;
}


.stationInputInnerContainer {
  display: flex;
  flex-direction: row;
}

.stationButtonContainer {
  width: 15%;
}

.white_text {
  color: #FFF;
}

.find_button {
  background-color: #0078e7;
  color: #fff;
  display: block;
  margin-left: 8px;
}

.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;

    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;

    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;

    transform: scale(0.5);
    text-align: center;
    font-size: 3em;
}

@keyframes pulsate {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.5);
    }
}


@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 1680px){

  .btt_title {
    font-size: 1.2em;
  }
}


@media screen and (max-width: 1366px){

  .minimized {
    height: 0%;
  }

  .btt_title {
    font-size: 1.07em;
  }

  .btt_title_es {
    font-size: 0.9em;
  }

  .btt_title_fr {
    font-size: 0.95em;
  }

  .btt_title_de {
    font-size: 0.82em;
  }

  .btt_title_it {
    font-size: 0.85em;
  }

  .btt_title_ru {
    font-size: 0.83em;
  }

  .stationInputContainer {
    width: 27%;
  }

  .stationInputLabel {
    width: 22%;
    text-transform: uppercase;
    font-size: .9em;
    line-height: 1.5em;
    text-align: right;
    margin-right: 4px;
  }

  select.stationInputDropdown {
    width: 75%;
    height: 1.5em;
  }

  .stationInputContainer>div:nth-child(1) {
    width: 85%;
  }

  .stationInputContainer>div:nth-child(2) {
    width: 15%;
  }

  button.find_button {
    margin-left: 5px;
    width: 32px;
    height: 32px;
  }

  .mapContainer {
    height: 589px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 1280px) {

    .minimized {
      height: 0%;
    }

    .btt_title {
      font-size: 1em;
      margin: 0 0 0.1em 0;
    }

    .btt_title_es {
      font-size: 0.8em;
    }

    .btt_title_fr {
      font-size: 0.9em;
    }

    .btt_title_de {
      font-size: 0.76em;
    }

    .btt_title_it {
      font-size: 0.8em;
    }

    .btt_title_ru {
      font-size: 0.8em;
    }

    .stationInputContainer {
      width: 24%;
    }

    .stationInputLabel {
      width: 22%;
      text-transform: uppercase;
      font-size: .73em;
      line-height: 1.5em;
      text-align: right;
      margin-right: 4px;
    }

    select.stationInputDropdown {
      width: 75%;
      height: 1.5em;
      font-size: 0.73em;
    }

    .stationInputContainer>div:nth-child(1) {
      width: 85%;
    }

    .stationInputContainer>div:nth-child(2) {
      width: 15%;
    }

    button.find_button {
      margin-left: 5px;
      width: 38px;
      height: 38px;
    }

    .mapContainer {
      height: 545px;
      margin-top: 4px;
      width: 911px;
    }
}
@media screen and (max-width: 1080px){
  .stationInputContainer {
    width: 27%;
  }
}

@media screen and (max-width: 768px){
  .stationInputContainer {
    width: 100%;
  }

  .minimized {
    height: 0%;
  }

  .stationInputLabel {
    text-align: right;
    padding-right: 32px;
  }

  .find_button {
    margin: auto;
  }
}


@media screen and (max-width: 736px) and (orientation: portrait){
  .minimized {
    height: 0%;
  }

  select.stationInputDropdown {
    font-size: 16px;
  }

  .stationInputLabel {
    text-align: right;
    padding-right: 4px;
    line-height: 16px;
  }

  .stationInputLabel > span {
    vertical-align: middle;
  }

  .stationInputContainer>div:nth-child(1) {
    width: 85%;
  }

  .stationInputContainer>div:nth-child(2) {
    width: 15%;
  }

  button.find_button {
    background-color: #0078e7;
    color: #fff;
    display: block;
    margin-left: 0px;
    width:32px !important;
    height:32px !important;
  }

  .directionsOpen {
    height: auto;
    margin-top: 200px;
  }

  .mapContainer {
    width: 420px;
    margin-top: 18px;
  }

}

@media screen and (max-width: 736px) and (orientation: landscape){
  select.stationInputDropdown {
    font-size: 16px;
  }

  .stationInputLabel {
    line-height: 16px;
  }

  .stationInputLabel > span {
    vertical-align: middle;
  }

  .stationInputContainer {
    width: 80%;
  }

  .stationInputContainer>div:nth-child(1) {
    width: 80%;
  }

  .stationInputContainer>div:nth-child(2) {
    width: 10%;
  }

  .mapContainer {
    height: 360px;
    margin-top: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  .mapContainer {
    height: 375px;
    margin-top: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .mapContainer {
    height: 360px;
    margin-top: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape){
  .mapContainer {
    height: 320px;

  }
}

/* iPad landscape */
@media all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {

  .minimized {
    height: 0%;
  }

  .stationInputContainer {
    width: 33%;
  }

  .stationInputLabel {
    width: 19%;
  }


  select.stationInputDropdown {
    width: 80%;
  }

  .stationInputContainer>div:nth-child(1) {
    width: 87%;
  }

  .stationInputContainer>div:nth-child(2) {
    width: 10%;
  }

  button.find_button {
    margin-left: 0px;
    width:38px !important;
    height:38px !important;
  }

  .mapContainer {
    height: 570px;
    margin-top: 0px;
    width: 100%;
  }
}

/* iPad portrait */
@media all
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {


  .stationInputContainer {
    width: 70%;
  }

  .stationInputContainer>div:nth-child(1) {
    width: 80%;
  }

  .stationInputContainer>div:nth-child(2) {
    width: 10%;
  }

  .mapContainer {
    width: 550px;
    height: 564px;
  }
}
