/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.dd_container {
    padding: 0px;
    width: 100%;
    background: rgba(144, 144, 144, 0.25);
    border: 1px solid #000;
    border-radius: 3px;
    height: 2em;
}
