/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.image {
  width: 123px;
  height: 123px;
}



@media only screen and (max-width: 1366px) {
  .image {
    width: 94px;
    height: 94px;
  }
}

@media only screen and (max-width: 1280px) {
  .image {
    width: 87px;
    height: 87px;
  }
}

@media only screen and (max-width: 1024px){

  .image {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 736px){

  .image {
    width: 54px;
    height: 54px;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape){
  .image {
    width: 57px;
    height: 57px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape){
  .image {
    width: 55px;
    height: 55px;
  }
}


@media screen and (max-width: 568px) and (orientation: landscape){
  .image {
    width: 48px;
    height: 48px;
  }
}

.imageContainer {
  position: relative;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}
